<table class="w-full">
  <tr>
    <td><div class="container">
      <h3>Ut enim ad minim:</h3>
      <p style="font-size: 12;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p style="font-size:12 ;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <h3>Sint occaecat cupidatat:</h3>
      <ul>
          <li style="font-size:12;">1. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          <li style="font-size:12;">2. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</li>
      </ul>
      <hr> 
      <div class="footer">
          <p style="font-size:12; display: flex; justify-content: center;margin-bottom: 20px">Sed do eiusmod tempor incididunt ut labore</p>
        </div></div>
          <div style="width: 100px; height: 50px; background-color: lightgray; margin: 0 auto;"></div>
      </div>
  </div></td>
    
  </tr>
</table>
