<table class="w-full">
  <tr>
    <td><div style="padding: 20px;">
      <h2 style="text-align: center; color: #048484;">Sint cupidatat occaecat ut</h2>
      <div style="display: flex; justify-content: space-around;">
          <div style="border: 1px solid #ccc; border-radius: 8px; padding: 20px; width: 45%;">
              <div style="width: 80px; height: 80px; border-radius: 50%; background-color: #ccc; margin: 0 auto;"></div>
              <h3 style="text-align: center;color: #048484;">Nisi ut ade</h3>
              <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div style="border: 1px solid #ccc; border-radius: 8px; padding: 20px; width: 45%;">
              <div style="width: 80px; height: 80px; border-radius: 50%; background-color: #ccc; margin: 0 auto;"></div>
              <h3 style="text-align: center;color: #048484;">Duis aute irure</h3>
              <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
      </div>
  </div></td>    
  </tr>
</table>
